@font-face {
    font-family: 'Columbus';
    src: url('/static/fonts/columbus-webfont.woff2') format('woff2'),
    url('/static/fonts/columbus-webfont.woff') format('woff'),
    url('/static/fonts/columbus-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Morpheus';
    src: url('/static/fonts/morpheus-webfont.woff2') format('woff2'),
    url('/static/fonts/morpheus-webfont.woff') format('woff'),
    url('/static/fonts/morpheus-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

input, label, select, button, textarea {
    border: none;
    margin: 0;
    border: 0;
    padding: .25em;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    max-width: 100%;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

::selection {
    background: rgba(131, 7, 7, .8); /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: rgba(131, 7, 7, .8); /* Gecko Browsers */
    color: white;
}

html {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 0;
}

body {
    position: absolute;
    top: 0;
    font-family: 'Columbus', serif;
    font-size: 11pt;
    width: calc(100% + calc(100vw - 100%));
    max-width: 100vw;

    background-color: black;
    color: white;
}

form {
    max-width: 100%;
}

h1 {
    font-family: 'Morpheus', serif;
    font-size: 32pt;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: .5em;
    max-width: 100%;
}

h2 {
    font-family: 'Morpheus', serif;
    font-size: 20pt;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: .5em;
    max-width: 100%;
}

h3 {
    font-size: 16pt;
    line-height: 1.3;
    margin-bottom: .5em;
    max-width: 100%;
}

p {
    line-height: 1.3;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(131, 7, 7);
}

table {
    width: 100%;
    box-sizing: border-box;
}

thead {
    font-size: 10pt;
    box-sizing: border-box;
}

tbody {
    font-size: 11pt;
    box-sizing: border-box;
}

tr {
    box-sizing: border-box;
}

td {
    text-align: center;
    box-sizing: border-box;
}

thead td {
    padding: .125em;
}

td.label {
    width: 99%;
}

td.cell {
    border: solid 2px white;
    white-space: nowrap
}

select {
    width: auto;
    background-color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

td.cell select {
    margin: .125em;
    width: 2em;
}

td.cell option {
    width: auto;
}

/* PAGE LAYOUT */

#content {
    width: 90%;
    max-width: 1200px;
    padding: 2em;
    border: solid 2px white;
    margin: 5vh auto;
}

#top {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

#container {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

}

.column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    flex: 1;
}

.section {
    width: 100%;
    margin-bottom: 2em;
}

.main_row {
    margin-bottom: 2.5em;
}

input[type=submit]:hover {
    color: rgb(131, 7, 7);
}

input[type=password], input[type=text] {

    border-bottom: solid 2px white;
}

input[type=number] {
    text-align: right;
    width: 6em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox] {
    -webkit-appearance: none;
    font-size: 11pt;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 1em;
    text-align: center;
}

input[type=checkbox]:checked:after {
    color: white;
    font-size: 11pt;
    content: '\2714';
}

.top input {
    width: 100%;
    border: none;
    font-size: 10pt;
    padding-left: .5em;
    padding-right: .5em;
}

.top .row {
    border-bottom: solid 1px white;
}

td input[type=number] {
    border: none;
    font-size: inherit;
    width: 2em;
    padding: .125em;
    margin: 0;
    text-align: center;
}

td.label input[type=text] {
    width: 95%;
    margin: 0 auto 0 0;
}

/* CHARACTERISTICS */

.characteristic input[type=number] {
    font-size: 14pt;
    width: 2.5em;
}

.characteristic label {
    display: block;
    font-size: 8pt;
    margin-bottom: 1em;
}

/* ARMOR */

.armor {
    margin-bottom: 2.5em;
    font-size: 12pt;
}

.armor label {
    display: block;
    font-size: 11pt;
    margin-bottom: 1em;
}

/* BLOCK */

.block {
    display: block;

    border: solid 2px white;
    padding: 1em;
    margin: .5em;

    text-align: center;
}

.block input[type=number] {
    width: 4em;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* WEAPON */

.weapon {
    margin-bottom: 1em;
}

.weapon label {
    display: block;
    font-size: 11pt;
    flex: 0;
}

.weapon .row {
    padding: .25em;
    border: solid 2px white;
}

.weapon .input {
    flex: 1;
}

.weapon input, select {
    border: none;
    width: 100%;
    font-size: 10pt;

    padding-left: .5em;
    padding-right: .5em;
}

.character input[type=submit] {
    font-family: 'Morpheus', serif;
    font-size: 28pt;
    padding: 0 0 .25em;
}

textarea {
    width: 100%;
}
