<div style="float: right">
    <a href="{% url 'settings' %}">Settings</a>
</div>

<h1>Hello, {{ user.first_name }}...</h1>


<div id="container">
    {% for character in characters %}
        <div class="block">
            <h2>{{ character.name }}</h2>
            <p>{{ character.rank }}</p>
            <p>
                <a href="{% url 'character' character.code %}">edit</a>
            </p>
            <br>
            <p>
                <a href="{% url 'delete_character' character.code %}">delete</a>
            </p>
        </div>
    {% endfor %}

    <div class="block">
        <a href="{% url 'character' 'new' %}"><h2>Create New</h2></a>
    </div>
</div>